# Pin an older Pillow wheel to avoid build errors
pillow==9.4.0

streamlit==1.25.0
streamlit-geolocation==0.0.10
pandas==2.0.3

google-api-python-client==2.78.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==1.0.0
